
 
   <!-- Hero Section -->
   <div class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>Welcome to Auctioneer</h1>
                <p class="lead">A platform to easily sell and buy NFTs through auctions.</p>
                <a href="#" class="btn btn-primary">Get Started</a>
            </div>
        </div>
    </div>
  </div>


  <div class="container featured-auctions">
    <app-auction-list></app-auction-list>
  </div>
  
    
  
  